<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
        backupGlobals="true"
        bootstrap="vendor/autoload.php"
        cacheTokens="false"
        colors="true"
		verbose="true"
>
    <testsuites>
        <testsuite name="Helpers">
            <directory>tests/Helpers</directory>
        </testsuite>

        <testsuite name="Http">
            <directory>tests/Http</directory>
        </testsuite>

        <testsuite name="Routing">
            <directory>tests/Routing</directory>
        </testsuite>
    </testsuites>
</phpunit>